<div class="page">
	<div class="navbar">

		<div class="navbar-inner">
                        
    			<div class="left"><a href="#" class="back_tables link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding" id="diningtable"><%= "#{@table.name_of}" %> 点菜</div>
    			<div class="right">
      				<!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
				<span id="number_people" style="display:none;"><%= @table.active_order.blank? ? 0 : @table.active_order.quantity %></span>
				<span id="number_order" style="display:none;"><%= @table.current_order_id %></span>
    			</div>
  		</div>
	</div>
  <div class="toolbar tabbar tabbar-scrollable">
    <div class="toolbar-inner">
      <a href="#tab-0" class="tab-link tab-link-active">自助餐</a>
      <a href="#tab-1" class="tab-link">Apéritifs</a>
      <a href="#tab-2" class="tab-link">Boissons</a>
      <a href="#tab-3" class="tab-link">Vins En Pichet</a>
      <a href="#tab-4" class="tab-link">Vins Rouges</a>
      <a href="#tab-5" class="tab-link">Vins Rosés</a>
      <a href="#tab-6" class="tab-link">Vins Blancs</a>
      <a href="#tab-7" class="tab-link">Digestifs</a>
      <a href="#tab-8" class="tab-link">Champagne</a>
    </div>
  </div>
  <div class="tabs-swipeable-wrap" style="height:350px; width: 100%;">
	  <% cache "order_#{@table.try(:active_order).try(:id)}" do %>
    <div class="tabs">
      <div id="tab-0" class="page-content tab tab-active">
	<div class="block" style="margin: 10px 0;">
	      <div class="row">
		      <% Item.where(category_id: 0).each do |item| %>
			      <% unless item.amount.blank?%>
					<div class="col-50 tablet-25">
						<div class="card demo-card-header-pic">
							<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw; background-image:url(<%=image_path(item.url)%>); font-weight:bold;color:#2196f3;background-repeat:no-repeat;background-size: auto 100%;background-position: right top;" valign="bottom" class="card-header"><span class="bl" style="font-size:small;background:none;"><%=item.label %></span></div></a>
						</div>
					</div>
				<% else %>
					<div class="col-50 tablet-25">
                                                <div class="card demo-card-header-pic">
							<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item_sup"%> class="item-link item-content"><div style="height: 17vw; background-image:url(<%=image_path(item.url)%>); font-weight:bold;color:#2196f3;background-repeat:no-repeat;background-size: auto 100%;background-position: right top;" valign="bottom" class="card-header"><span class="bl" style="font-size:small;background:none;"><%=item.label %></span></div></a>
                                                </div>
                                        </div>
				<% end %>
		      <% end %>
	      </div>
        </div>
      </div>
      <div id="tab-1" class="page-content tab">
	<div class="block" style="margin: 10px 0;">
	      <div class="row">
		      <% Item.where(category_id: 1).each do |item| %>
			<div class="col-50 tablet-25">
				<div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw; background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top;font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
				</div>
			</div>
		      <% end %>
	      </div>
        </div>
      </div>
      <div id="tab-2" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 2).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top; font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
      <div id="tab-3" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 3).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top; font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
      <div id="tab-4" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 4).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top; font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
      <div id="tab-5" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 5).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top; font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
      <div id="tab-6" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 6).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>); background-repeat:no-repeat;background-size: auto 100%;background-position: right top;font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
      <div id="tab-7" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 7).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top; font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
      <div id="tab-8" class="page-content tab">
        <div class="block" style="margin: 10px 0;">
		<div class="row">
                      <% Item.where(category_id: 8).each do |item| %>
                        <div class="col-50 tablet-25">
                                <div class="card demo-card-header-pic">
					<a href=<%="/orders/#{@table.try(:active_order).try(:id)}/order_items/#{item.id}/add_new_item"%> data-remote="true" class="item-link item-content"><div style="height: 17vw;background-image:url(<%=image_path(item.url)%>);background-repeat:no-repeat;background-size: auto 100%;background-position: right top; font-weight:bold;color:#2196f3;" valign="bottom" class="card-header"><%=item.label %></div></a>
                                </div>
                        </div>
                      <% end %>
              </div>
        </div>
      </div>
    </div>
<% end %>
  </div>
  <div class="md color-theme-blue" style="background:#2196f3; height:26px;line-height:2;padding:0 8px;">
	  <span style="float:left; color:#ffffff;">我的订单</span><span style="float:right;color:#FFFFFF; <%= Setting.where(label: "show_amount_screen").first.active ? '' : 'display:none;' %>">总额: <b id="amount_updated"><%= number_to_currency(@montant, :unit => "€") %></b></span> 
  </div>
  <div class="page-content" style="padding-top:0; overflow: auto;height: 200px;width:100%;">
	  <div class="block" style="margin:10px 0;">
	  <div class="row" id="items_choosen">
		  <% unless @table.active_order.blank? %>
			  <% @table.active_order.order_items.order("order_items.created_at desc, order_items.line_id desc").each do |oi| %>
			  	<% if oi.quantity < 0 %>
				<% else %>
					<div class="col-100 tablet-25" id="item_<%=oi.id%>">
						<div class="chip chip-c">
							<form data-remote="true"><button class="col button button-fill" formaction="<%="/orders/#{oi.order_id}/order_items/#{oi.id}/add_item"%>">+</button></form>
							<div class="chip-label chip-c-l"><%= oi.item.label %> <%=oi.try(:amount_v)%> <br> <span class="badge color-red"><%= oi.quantity %></span></div>
							<form data-remote="true"><button class="col button button-fill color-pink" formaction="<%="/orders/#{oi.order_id}/order_items/#{oi.id}/remove_item"%>">-</button></form>
						</div>
					</div>
				<% end %>
			  <% end %>
		  <% end %>
		  <% unless @table.active_order.blank? %>
                          <% @table.active_order.order_items.order("order_items.created_at desc, order_items.line_id desc").each do |oi| %>
                                <% if oi.quantity < 0 %>
                                        <div class="col-100 tablet-25" id="item_<%=oi.id%>">
                                                <div class="chip chip-co">
                                                        <div class="chip-label chip-co-l"><%= oi.item.label %> <%=oi.try(:amount_v)%> <br> <span class="badge color-red"><%= oi.quantity %></span></div>
                                                </div>
                                        </div>
                                <% end %>
                          <% end %>
                  <% end %>
	  </div>
	  </div>
  </div>


  <div class="toolbar tabbar-labels toolbar-bottom-md">
      <div class="toolbar-inner">
        <a href="<%=finish_order_path(@table.active_order.id)%>" class="link">
         	Annuler
        </a>
        <a href="<%=order_path(@table.active_order.id)%>" class="link">
		OK
        </a>
      </div>
    </div>
</div>

