<div class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only panel-open" data-panel="left">
                      <i class="icon f7-icons ios-only">menu</i>
                <i class="icon material-icons md-only">menu</i>
              </a>
            </div>
	    <div class="title sliding">中国城中餐自助</div>
            <div class="right">
              <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                <i class="icon f7-icons ios-only">search_strong</i>
                <i class="icon material-icons md-only">search</i>
              </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
              <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                  <input type="search" id="searchbar" placeholder="Search components"/>
                  <i class="searchbar-icon"></i>
                  <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button">Cancel</span>
              </div>
            </form>
          </div>
        </div>
	<div class="page-content" style="height:600px; overflow:auto;">
	  <div class="block-title searchbar-found">请点击加号添加餐桌 ：</div>
          <div class="list components-list searchbar-found">
				<ul class="actions-group actions-grid">
		    	<% @dining_tables.each do |dt| %>
						<li class="actions-button actions-button-text" style="height:auto; float:left;">
							<div class="actions-button-media" style="width:auto;">
								<% if dt.active_order.encour %>
									<a href="<%=order_path(dt.current_order_id)%>" class="item-content item-link" style="padding:0;"><img src="/assets/keman.jpg" width="90"></a>
								<% else %>
									<a href="<%=edit_dining_table_path(dt)%>" class="item-content item-link" style="padding:0;"><img src="/assets/keman.jpg" width="90"></a>
								<% end %>
							</div>
							<% if dt.active_order.encour %>
								<%= link_to raw("<div class='item-inner' style='padding:none;'><div class='item-title'>#{dt.name_of}</div></div>"), order_path(dt.current_order_id), {class: "item-content item-link", style: "background;none"}  %>
							<% else %>
								<%= link_to raw("<div class='item-inner' style='padding:none;'><div class='item-title'>#{dt.name_of}</div></div>"), edit_dining_table_path(dt), {class: "item-content item-link", style: "background;none"}  %>
							<% end %>
						</li>
			  <% end %>
				</ul>
           </div>
	</div>
    <div class="toolbar tabbar-labels toolbar-bottom-md">
      <div class="toolbar-inner">
	      <% if current_user.login == "admin" %>
        <a href="#" class="link" onclick="zhang.callCameraScan()">
          <i class="icon material-icons md-only size-22">crop_free</i>
	</a>
		<% end %>
        <a href="#" class="link" onclick="yu.loadWebview()">
          <i class="icon material-icons md-only size-22">autorenew</i>
        </a>
        <a href="<%=new_dining_table_path%>" class="link">
          <i class="icon material-icons md-only size-22">add</i>
        </a>
      </div>
    </div>
    </div>
