<div class="page">
        <div class="navbar">

                <div class="navbar-inner">

			<% if !@order.order_histories.blank? && @order.order_histories.order(:created_at).try(:last).printable > 0 %>
				<div class="left"><a href="/dining_tables" class="link"><i class="icon icon-back"></i></a></div>
				<div class="center sliding"><a href="<%=change_table_order_path(@order.id)%>"><span id="yazhuodan"><%= @order.dining_table.name_of %></span> 压桌单</a></div>
			<% else %>
				<div class="left"><a href="#" class="back_tables link"><i class="icon icon-back"></i></a></div>
				<div class="center sliding"><%= @order.dining_table.name_of %> 压桌单</div>
			<% end %>
                        <div class="right">
                                <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
                                <span id="number_people" style="display:none;"><%= @order.quantity %></span>
                                <span id="number_order" style="display:none;"><%= @order.id %></span>
                        </div>
                </div>
	</div>
	<br><br><br>	
	<div class="data-table" style="height:480px;overflow:auto;">
<table>
<thead>
<tr>
<th class="label-cell">Nom</th>
<th class="numeric-cell">Quantité</th>
<th class="numeric-cell">Montant</th>
</tr>
</thead>
<tbody>
	<% @order.order_items.order("line_id").each do |oi| %>
 <tr>
	 <td class="label-cell" bgcolor="<%=oi.quantity > 0 ? "" : "#ffcccc" %>"><%= oi.item.label%></td>
	<td class="numeric-cell" bgcolor="<%=oi.quantity > 0 ? "" : "#ffcccc" %>"><%=oi.quantity%></td>
	<td class="numeric-cell" bgcolor="<%=oi.quantity > 0 ? "" : "#ffcccc" %>"><%=oi.amount%></td>
</tr>
	<% end %>
</tbody>
</table>
	</div>

	<% if !@order.is_valid %>
	<div class="toolbar tabbar-labels toolbar-bottom-md">
      <div class="toolbar-inner">
        <a href="<%=print_order_path(@order.id)%>" class="link">
          <i class="icon material-icons md-only size-22">print</i>
        </a>
        <a href="<%=edit_dining_table_path(@order.dining_table_id)%>" class="link">
		<i class="icon material-icons md-only size-22">edit</i>
        </a>
      </div>
	</div>
      <% end %>
</div>
