<div class="page no-toolbar no-navbar no-swipeback">
    <div class="page-content login-screen-content">
	    <div class="login-screen-title">中国城</div>
	    <%= form_for @user, :url => user_session_path do |f| %>
        <div class="list">
          <ul>
            <li class="item-content item-input item-input-with-value">
              <div class="item-inner">
                <div class="item-title item-label"><%= f.label :login %></div>
                <div class="item-input-wrap">
                  <%= f.text_field :login, { :id => "demo-username-2", :class => "focus input-with-value", placeholder: "工号" } %>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label"><%= f.label :password %></div>
                <div class="item-input-wrap">
                   <%= f.password_field :password, { :id => "demo-password-2", placeholder: "密码" } %>
		   <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
	<div class="list">
          <ul>
            <li><a href="#" class="item-link list-button" onclick="app.methods.signIn()">登陆</a></li>
          </ul>
	  <div class="block-footer">软件版权归属@中国城</div>
        </div>
<% end -%>
    </div>
</div>
